# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db


test_*.py

test.py

models/bert_emotion_model_final/model.safetensors
models/bert_emotion_model_final/bert_emotion_model_final.zip

data/predictions.csv